.certificates-container {
  padding: 4% 5%;
  text-align: center;
}

.certificates-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #03183f;
  margin-bottom: 40px;
}

.certificates-slider {
  max-width: 90%;
  margin: 0 auto;
}

.certificate-card {
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
}

.certificate-card:hover {
  transform: scale(1.005);
}

.certificate-image {
  width: 65%;
  height: auto;
}

.slick-prev:before,
.slick-next:before {
  color: #03183f;
}

.slick-dots li button:before {
  color: #03183f;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #03183f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background-color: #0241a8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .certificates-title {
    font-size: 2rem;
  }

  .modal-content {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  .certificates-title {
    font-size: 1.8rem;
  }

  .certificate-card {
    margin: 10px auto;
    width: 90%;
  }

  .modal-content {
    padding: 10px;
  }
}
