.footer {
  background-color: #03183f;
  color: #fff;
  padding: 3% 2%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  flex: 1 1 250px;
  text-align: center;
}

.footer-img-logo {
  width: 150px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-img-logo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.footer-tagline {
  font-size: 1.2rem;
  font-weight: 400;
  color: #bdc3c7;
  margin-top: 10px;
}

.footer-contact,
.footer-social {
  flex: 1 1 250px;
}

.footer-contact h4,
.footer-social h4 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}

.footer-contact ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-contact li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-contact a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #03183f;
  /* border: 1px solid #bdc3c7; */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  background-color: #bdc3c7;
  color: #03183f;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #bdc3c7;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    gap: 15px;
  }

  .footer-img-logo {
    width: 130px;
  }

  .footer-tagline {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-contact,
  .footer-social {
    text-align: center;
  }

  .footer-logo {
    flex: 1 1 150px;
    margin-bottom: 15px;
  }

  .social-icons {
    gap: 10px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
  }
  .footer-contact, .footer-social{
    flex: 1 1 80px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    gap: 10px;
  }

  .footer-img-logo {
    width: 100px;
  }

  .footer-tagline {
    font-size: 0.9rem;
  }

  .social-icon {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
